In [16]:
import sys
#Path to Trane for imports
sys.path.append('/Users/Alexander/Documents/Trane/Trane__HDI_REPO')
import pandas as pd
import trane
import json
import random
import datetime
import pickle

In [17]:
def file_to_table_meta(filepath):
    return trane.TableMeta(json.loads(open(filepath).read()))

In [38]:
path_to_datasets = '../Trane__Local_Misc/Formatted Datasets/'
#taxi_data_df = pd.read_csv(path_to_datasets + 'NYC Taxi/taxi.csv')
#taxi_table_meta = file_to_table_meta(path_to_datasets + 'NYC Taxi/taxi_meta.json')
taxi_data_df = pd.read_csv(path_to_datasets + 'Synthetic Taxi/synthetic_taxi_data.csv')
taxi_table_meta = file_to_table_meta(path_to_datasets + 'Synthetic Taxi/taxi_meta.json')

In [19]:
NUM_PROBLEMS_TO_GENERATE = 100

In [20]:
def generate_probs_and_nl(entity_id_column,
                            label_generating_column,
                            time_column,
                            table_meta,
                            filter_column,
                            is_pick_random_problems = True):
    generator = trane.PredictionProblemGenerator(table_meta, entity_id_column, label_generating_column, time_column, filter_column)
    probs = []

    all_probs = list(generator.generate())

    if is_pick_random_problems:
        random.shuffle(all_probs)

    for idx, prob in enumerate(all_probs):
        probs.append(prob)
        if idx + 1 == NUM_PROBLEMS_TO_GENERATE:
            break
    prediction_problems_json = trane.prediction_problems_to_json_file(
        probs, table_meta, entity_id_column, label_generating_column, time_column, "prediction_problems.json")

    nl_descrips = trane.generate_nl_description(
        probs, table_meta, entity_id_column, label_generating_column, time_column, trane.ConstantIntegerCutoffTimes(0))
    return probs, nl_descrips
def save_obj(obj, name):
    with open('pickled_objects/'+ name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)
def load_obj(name):
    with open('pickled_objects/' + name + '.pkl', 'rb') as f:
        return pickle.load(f)
def convert(str, format = None):
    return datetime.datetime.strptime(str, format)

# Trane
Below is the code for generating prediction problems using Trane.

In [21]:
entity_id_column = 'taxi_id'
label_generating_column = 'num_passengers'
time_column = 'start_time'
filter_column = 'vendor_id'
table_meta = taxi_table_meta
probs, nl_descrips = generate_probs_and_nl(entity_id_column, label_generating_column,
                     time_column, table_meta, filter_column)
prediction_problems_json = trane.prediction_problems_to_json_file(
    probs, table_meta, entity_id_column, label_generating_column, time_column, "prediction_problems.json")

In [22]:
taxi_data_df

,vendor_id,taxi_id,trip_id,distance,duration,fare,num_passengers,start_time,end_time,unique_entry_id
0,0,11,111,3.53,20.04,50.70,1,1999-12-27 21:56:04.165677,1999-12-27 22:16:06.565677,0
1,0,11,112,4.73,17.40,48.02,1,1999-01-25 13:34:10.509932,1999-01-25 13:51:34.509932,1
2,0,11,113,3.86,23.53,58.40,3,1999-03-24 04:36:09.178326,1999-03-24 04:59:40.978326,2
3,0,11,114,3.97,10.16,31.90,4,2000-05-04 01:55:12.645713,2000-05-04 02:05:22.245713,3
4,0,11,115,2.85,18.15,45.46,2,1999-12-16 23:23:19.109936,1999-12-16 23:41:28.109936,4
5,0,11,116,4.71,15.69,44.55,4,1999-12-28 04:09:44.538452,1999-12-28 04:25:25.938452,5
6,0,11,117,2.98,24.43,58.30,4,2000-12-27 11:43:20.481000,2000-12-27 12:07:46.281000,6
7,0,11,118,5.31,23.38,61.23,4,1999-02-25 18:11:33.522902,1999-02-25 18:34:56.322902,7
8,0,11,119,6.03,18.99,54.00,4,2000-04-04 09:22:05.288143,2000-04-04 09:41:04.688143,8
9,0,11,1110,6.77,13.60,44.82,1,1999-08-21 21:57:12.964035,1999-08-21 22:10:48.964035,9
10,0,11,1111,5.65,21.56,58.32,3,1999-10-19 19:18:28.856933,1999-10-19 19:40:02.456933,10
11,0,11,1112,5.45,17.30,49.37,3,2000-01-12 02:24:55.444169,2000-01-12 02:42:13.444169,11
12,0,11,1113,5.74,20.45,56.30,3,1999-10-26 10:52:19.463543,1999-10-26 11:12:46.463543,12
13,0,11,1114,5.79,18.85,53.21,1,1999-03-08 19:20:49.687089,1999-03-08 19:39:40.687089,13
14,0,11,1115,2.82,9.96,29.01,2,1999-04-18 18:37:44.384659,1999-04-18 18:47:41.984659,14
15,0,11,1116,4.74,3.69,20.62,4,1999-05-08 19:39:42.857178,1999-05-08 19:43:24.257178,15
16,0,11,1117,5.39,16.33,47.30,4,2000-10-25 10:59:12.901347,2000-10-25 11:15:32.701347,16
17,0,11,1118,4.79,8.58,30.51,2,2000-09-14 23:30:34.572434,2000-09-14 23:39:09.372434,17
18,0,11,1119,5.34,20.99,56.51,1,2000-07-21 08:19:26.071566,2000-07-21 08:40:25.471566,18
19,0,11,1120,7.15,14.71,47.86,3,1999-07-09 22:15:30.724639,1999-07-09 22:30:13.324639,19
20,0,11,1121,7.23,13.89,46.40,2,1999-09-15 05:51:43.115620,1999-09-15 06:05:36.515620,20
21,0,11,1122,2.95,21.94,53.25,2,2000-02-02 15:34:48.591398,2000-02-02 15:56:44.991398,21
22,0,11,1123,8.02,10.67,41.66,4,1999-11-21 16:27:03.031147,1999-11-21 16:37:43.231147,22
23,0,11,1124,5.16,13.69,41.53,2,1999-11-24 00:37:23.864723,1999-11-24 00:51:05.264723,23
24,0,11,1125,7.08,20.93,60.15,3,2000-05-17 02:21:06.044424,2000-05-17 02:42:01.844424,24
25,0,11,1126,8.41,16.52,54.21,4,1999-06-16 09:00:21.461197,1999-06-16 09:16:52.661197,25
26,0,11,1127,4.19,25.28,62.61,2,1999-12-01 04:10:09.083643,1999-12-01 04:35:25.883643,26
27,0,11,1128,5.01,14.07,41.96,4,2000-09-12 10:51:45.393887,2000-09-12 11:05:49.593887,27
28,0,11,1129,8.88,13.48,49.14,2,2000-05-20 00:21:08.438279,2000-05-20 00:34:37.238279,28
29,0,11,1130,8.22,10.50,41.76,1,1999-04-03 01:41:29.537992,1999-04-03 01:51:59.537992,29
...,...,...,...,...,...,...,...,...,...,...
7970,4,540,54011,4.70,12.11,37.37,4,1999-03-23 17:18:44.314541,1999-03-23 17:30:50.914541,7970
7971,4,540,54012,7.44,10.21,39.49,1,2000-04-14 18:52:20.672182,2000-04-14 19:02:33.272182,7971
7972,4,540,54013,1.91,26.98,61.09,2,2000-10-26 06:27:03.999467,2000-10-26 06:54:02.799467,7972
7973,4,540,54014,6.73,16.18,49.90,3,1999-08-05 04:34:28.366963,1999-08-05 04:50:39.166963,7973
7974,4,540,54015,5.94,16.57,48.97,4,2000-11-12 14:21:46.007894,2000-11-12 14:38:20.207894,7974
7975,4,540,54016,5.46,6.74,28.27,1,1999-12-19 20:50:12.927485,1999-12-19 20:56:57.327485,7975
7976,4,540,54017,3.03,14.87,39.28,1,2000-08-21 10:27:48.226605,2000-08-21 10:42:40.426605,7976
7977,4,540,54018,3.53,20.48,51.58,2,2000-04-25 22:10:20.226887,2000-04-25 22:30:49.026887,7977
7978,4,540,54019,7.13,6.96,32.32,4,1999-02-16 16:48:44.020625,1999-02-16 16:55:41.620625,7978
7979,4,540,54020,2.81,6.30,21.67,1,2000-03-20 23:10:01.449776,2000-03-20 23:16:19.449776,7979
7980,4,540,54021,5.99,22.84,61.62,3,1999-07-16 14:12:05.417170,1999-07-16 14:34:55.817170,7980
7981,4,540,54022,6.62,19.14,55.58,4,1999-01-30 14:59:31.502634,1999-01-30 15:18:39.902634,7981
7982,4,540,54023,4.42,17.07,46.69,1,2000-12-04 09:33:26.846209,2000-12-04 09:50:31.046209,7982
7983,4,540,54024,7.83,15.75,51.41,1,2000-03-17 16:58:56.647148,2000-03-17 17:14:41.647148,7983
7984,4,540,54025,2.20,14.79,37.33,4,1999-07-08 19:29:25.316580,1999-07-08 19:44:12.716580,7984
7985,4,540,54026,7.22,22.16,62.92,4,2000-01-22 00:35:48.496851,2000-01-22 00:57:58.096851,7985
7986,4,540,54027,1.87,17.70,42.44,4,1999-12-22 15:02:28.325165,1999-12-22 15:20:10.325165,7986
7987,4,540,54028,1.00,13.45,32.06,1,2000-01-26 17:08:20.508490,2000-01-26 17:21:47.508490,7987
7988,4,540,54029,8.01,19.33,58.96,3,1999-04-01 16:33:42.135343,1999-04-01 16:53:01.935343,7988
7989,4,540,54030,6.23,16.50,49.46,3,1999-10-04 07:41:33.852478,1999-10-04 07:58:03.852478,7989
7990,4,540,54031,8.07,23.50,67.43,3,2000-04-10 18:42:42.429155,2000-04-10 19:06:12.429155,7990
7991,4,540,54032,6.05,15.11,46.29,3,1999-04-01 02:06:49.115433,1999-04-01 02:21:55.715433,7991
7992,4,540,54033,7.32,14.68,48.17,1,1999-04-06 02:30:41.418785,1999-04-06 02:45:22.218785,7992
7993,4,540,54034,3.87,17.24,45.84,4,1999-12-04 22:15:48.506056,1999-12-04 22:33:02.906056,7993
7994,4,540,54035,6.57,25.46,68.11,1,2000-10-29 13:34:54.944345,2000-10-29 14:00:22.544345,7994
7995,4,540,54036,2.85,15.16,39.48,3,1999-03-16 15:56:07.415474,1999-03-16 16:11:17.015474,7995
7996,4,540,54037,4.18,8.81,29.65,2,1999-07-06 14:11:00.481889,1999-07-06 14:19:49.081889,7996
7997,4,540,54038,3.46,12.14,34.75,3,2000-10-08 18:18:47.189426,2000-10-08 18:30:55.589426,7997
7998,4,540,54039,5.43,12.70,40.13,2,1999-09-18 16:58:55.172593,1999-09-18 17:11:37.172593,7998
7999,4,540,54040,4.13,17.40,46.72,4,2000-03-11 00:49:29.871862,2000-03-11 01:06:53.871862,7999

#### Note
Splits dataframe by cutoff time and segments the according to entity.

In [39]:
datetime_constant_cutoff = datetime.date(2000, 1, 1)
taxi_data_df[time_column] = 1taxi_data_df[time_column].apply(convert, format = "%Y-%m-%d %H:%M:%S.%f")

taxi_data_df[label_generating_column] = pd.to_numeric(taxi_data_df[label_generating_column])
taxi_data_df[entity_id_column] = pd.to_numeric(taxi_data_df[entity_id_column])

taxi_data_df_pre_cutoff = taxi_data_df[taxi_data_df[time_column] < datetime_constant_cutoff]
taxi_data_df_post_cutoff = taxi_data_df[taxi_data_df[time_column] >= datetime_constant_cutoff]

entity_to_data_dict = trane.df_group_by_entity_id(taxi_data_df_pre_cutoff, entity_id_column)
entity_to_data_and_cutoff_dict_pre_cutoff = trane.ConstantDatetimeCutoffTime(datetime_constant_cutoff).generate_cutoffs(entity_to_data_dict)

entity_to_data_dict = trane.df_group_by_entity_id(taxi_data_df_post_cutoff, entity_id_column)
entity_to_data_and_cutoff_dict_post_cutoff = trane.ConstantDatetimeCutoffTime(datetime_constant_cutoff).generate_cutoffs(entity_to_data_dict)

### Generate Labels
This code takes 10 minutes to execute.

In [44]:
labeler = trane.Labeler()

labels_train = labeler.execute(entity_to_data_and_cutoff_dict_pre_cutoff, "prediction_problems.json")#.fillna(0)
labels_test = labeler.execute(entity_to_data_and_cutoff_dict_post_cutoff, "prediction_problems.json")#.fillna(0)

save_obj(labels_train, "labels_train")
save_obj(labels_test, "labels_test")

In [45]:
labels_test

,Entity Id,Problem 1,Problem 2,Problem 3,Problem 4,Problem 5,Problem 6,Problem 7,Problem 8,Problem 9,...,Problem 92,Problem 93,Problem 94,Problem 95,Problem 96,Problem 97,Problem 98,Problem 99,Problem 100,Cutoff Time
0,11,None,None,NaN,NaN,False,NaN,None,-1.0,NaN,...,True,2.0,54.598150,15.0,-2.0,NaN,4.0,2,None,2000-01-01
1,12,None,None,NaN,NaN,False,NaN,None,0.0,NaN,...,True,3.0,54.598150,20.0,-1.0,NaN,4.0,3,None,2000-01-01
2,13,None,None,NaN,NaN,False,NaN,None,-2.0,NaN,...,True,3.0,20.085537,19.0,0.0,NaN,4.0,3,None,2000-01-01
3,14,None,None,NaN,NaN,False,NaN,None,2.0,NaN,...,True,3.0,2.718282,18.0,2.0,NaN,4.0,3,None,2000-01-01
4,15,None,None,NaN,NaN,False,NaN,None,0.0,NaN,...,True,4.0,20.085537,17.0,1.0,NaN,4.0,4,None,2000-01-01
5,16,None,None,NaN,NaN,False,NaN,None,0.0,NaN,...,True,1.0,7.389056,16.0,-1.0,NaN,4.0,1,None,2000-01-01
6,17,None,None,NaN,NaN,False,NaN,None,-1.0,NaN,...,True,1.0,54.598150,20.0,-3.0,NaN,4.0,1,None,2000-01-01
7,18,None,None,NaN,NaN,False,NaN,None,-1.0,NaN,...,True,1.0,20.085537,20.0,-2.0,NaN,4.0,1,None,2000-01-01
8,19,None,None,NaN,NaN,False,NaN,None,-1.0,NaN,...,True,2.0,20.085537,21.0,-1.0,NaN,4.0,2,None,2000-01-01
9,21,True,None,4.0,-1.736726e+01,None,7.0,True,2.0,22.0,...,True,NaN,2.718282,22.0,NaN,0.0,NaN,1,True,2000-01-01
10,22,True,None,4.0,1.736726e+01,None,10.0,True,-1.0,22.0,...,True,NaN,20.085537,22.0,NaN,0.0,NaN,3,True,2000-01-01
11,23,True,None,4.0,-3.451261e+01,None,12.0,True,-3.0,21.0,...,True,NaN,54.598150,21.0,NaN,0.0,NaN,3,True,2000-01-01
12,24,True,None,4.0,-5.187987e+01,None,9.0,True,0.0,26.0,...,True,NaN,7.389056,26.0,NaN,0.0,NaN,1,True,2000-01-01
13,25,True,None,4.0,-3.359944e-08,None,8.0,True,-1.0,19.0,...,True,NaN,7.389056,19.0,NaN,0.0,NaN,3,True,2000-01-01
14,26,True,None,4.0,4.670774e+00,None,6.0,True,-2.0,16.0,...,True,NaN,20.085537,16.0,NaN,0.0,NaN,2,True,2000-01-01
15,27,True,None,4.0,1.736726e+01,None,9.0,True,1.0,18.0,...,True,NaN,7.389056,18.0,NaN,0.0,NaN,3,True,2000-01-01
16,28,True,None,4.0,1.687197e-06,None,12.0,True,1.0,15.0,...,True,NaN,20.085537,15.0,NaN,0.0,NaN,4,True,2000-01-01
17,29,True,None,4.0,4.670774e+00,None,11.0,True,2.0,20.0,...,True,NaN,2.718282,20.0,NaN,0.0,NaN,2,True,2000-01-01
18,31,True,None,4.0,1.687197e-06,None,9.0,True,-1.0,15.0,...,True,NaN,20.085537,15.0,NaN,0.0,NaN,4,True,2000-01-01
19,32,True,None,4.0,4.670774e+00,None,11.0,True,3.0,26.0,...,True,NaN,2.718282,26.0,NaN,0.0,NaN,2,True,2000-01-01
20,33,True,None,4.0,-4.670774e+00,None,14.0,True,0.0,22.0,...,True,NaN,54.598150,22.0,NaN,0.0,NaN,1,True,2000-01-01
21,34,True,None,4.0,-1.068189e-07,None,9.0,True,-1.0,22.0,...,True,NaN,20.085537,22.0,NaN,0.0,NaN,2,True,2000-01-01
22,35,True,None,4.0,-3.451261e+01,None,8.0,True,1.0,23.0,...,True,NaN,2.718282,23.0,NaN,0.0,NaN,3,True,2000-01-01
23,36,True,None,4.0,-4.720909e+01,None,13.0,True,-2.0,20.0,...,True,NaN,54.598150,20.0,NaN,0.0,NaN,2,True,2000-01-01
24,37,True,None,4.0,8.254840e-08,None,9.0,True,3.0,19.0,...,True,NaN,2.718282,19.0,NaN,0.0,NaN,1,True,2000-01-01
25,38,True,None,4.0,4.720909e+01,None,11.0,True,-2.0,17.0,...,True,NaN,54.598150,17.0,NaN,0.0,NaN,4,True,2000-01-01
26,39,True,None,4.0,8.254840e-08,None,11.0,True,-2.0,20.0,...,True,NaN,20.085537,20.0,NaN,0.0,NaN,1,True,2000-01-01
27,41,True,None,4.0,-1.736726e+01,None,12.0,True,0.0,20.0,...,True,NaN,20.085537,20.0,NaN,0.0,NaN,1,True,2000-01-01
28,42,True,None,4.0,-1.736726e+01,None,8.0,True,-2.0,23.0,...,True,NaN,20.085537,23.0,NaN,0.0,NaN,1,True,2000-01-01
29,43,True,None,4.0,1.736726e+01,None,13.0,True,2.0,15.0,...,True,NaN,7.389056,15.0,NaN,0.0,NaN,3,True,2000-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,511,True,None,4.0,-1.068189e-07,None,12.0,True,1.0,17.0,...,True,NaN,7.389056,17.0,NaN,0.0,NaN,2,True,2000-01-01
171,512,True,None,4.0,-1.068189e-07,None,9.0,True,2.0,18.0,...,True,NaN,7.389056,18.0,NaN,0.0,NaN,2,True,2000-01-01
172,513,True,None,4.0,-3.359944e-08,None,12.0,True,2.0,23.0,...,True,NaN,7.389056,23.0,NaN,0.0,NaN,3,True,2000-01-01
173,514,True,None,4.0,8.254840e-08,None,7.0,True,-3.0,19.0,...,True,NaN,54.598150,19.0,NaN,0.0,NaN,1,True,2000-01-01
174,515,True,None,4.0,-5.187987e+01,None,8.0,True,-1.0,16.0,...,True,NaN,7.389056,16.0,NaN,0.0,NaN,1,True,2000-01-01
175,516,True,None,4.0,4.670774e+00,None,10.0,True,0.0,22.0,...,True,NaN,20.085537,22.0,NaN,0.0,NaN,2,True,2000-01-01
176,517,True,None,4.0,-1.736726e+01,None,12.0,True,-3.0,22.0,...,True,NaN,54.598150,22.0,NaN,0.0,NaN,1,True,2000-01-01
177,518,True,None,4.0,1.736726e+01,None,10.0,True,0.0,17.0,...,True,NaN,20.085537,17.0,NaN,0.0,NaN,3,True,2000-01-01
178,519,True,None,4.0,4.720909e+01,None,11.0,True,0.0,20.0,...,True,NaN,7.389056,20.0,NaN,0.0,NaN,4,True,2000-01-01
179,520,True,None,4.0,-3.451261e+01,None,5.0,True,0.0,17.0,...,True,NaN,2.718282,17.0,NaN,0.0,NaN,3,True,2000-01-01
180,521,True,None,4.0,-3.359944e-08,None,10.0,True,2.0,16.0,...,True,NaN,7.389056,16.0,NaN,0.0,NaN,3,True,2000-01-01
181,522,True,None,4.0,5.187987e+01,None,13.0,True,3.0,25.0,...,True,NaN,2.718282,25.0,NaN,0.0,NaN,4,True,2000-01-01
182,523,True,None,4.0,-4.670774e+00,None,8.0,True,1.0,16.0,...,True,NaN,2.718282,16.0,NaN,0.0,NaN,1,True,2000-01-01
183,524,True,None,4.0,5.187987e+01,None,10.0,True,-2.0,13.0,...,True,NaN,54.598150,13.0,NaN,0.0,NaN,4,True,2000-01-01
184,525,True,None,4.0,1.736726e+01,None,10.0,True,-3.0,26.0,...,True,NaN,54.598150,26.0,NaN,0.0,NaN,3,True,2000-01-01
185,526,True,None,4.0,1.736726e+01,None,10.0,True,0.0,19.0,...,True,NaN,7.389056,19.0,NaN,0.0,NaN,3,True,2000-01-01
186,527,True,None,4.0,4.670774e+00,None,15.0,True,0.0,19.0,...,True,NaN,54.598150,19.0,NaN,0.0,NaN,2,True,2000-01-01
187,528,True,None,4.0,-1.068189e-07,None,8.0,True,-1.0,21.0,...,True,NaN,20.085537,21.0,NaN,0.0,NaN,2,True,2000-01-01
188,529,True,None,4.0,4.670774e+00,None,10.0,True,-3.0,19.0,...,True,NaN,54.598150,19.0,NaN,0.0,NaN,2,True,2000-01-01
189,530,True,None,4.0,8.254840e-08,None,10.0,True,-1.0,20.0,...,True,NaN,7.389056,20.0,NaN,0.0,NaN,1,True,2000-01-01
190,531,True,None,4.0,-3.359944e-08,None,9.0,True,0.0,23.0,...,True,NaN,2.718282,23.0,NaN,0.0,NaN,3,True,2000-01-01
191,532,True,None,4.0,1.687197e-06,None,9.0,True,-1.0,21.0,...,True,NaN,20.085537,21.0,NaN,0.0,NaN,4,True,2000-01-01
192,533,True,None,4.0,-1.269648e+01,None,13.0,True,0.0,26.0,...,True,NaN,54.598150,26.0,NaN,0.0,NaN,2,True,2000-01-01
193,534,True,None,4.0,5.187987e+01,None,9.0,True,0.0,20.0,...,True,NaN,7.389056,20.0,NaN,0.0,NaN,4,True,2000-01-01
194,535,True,None,4.0,-1.269648e+01,None,8.0,True,-1.0,16.0,...,True,NaN,7.389056,16.0,NaN,0.0,NaN,2,True,2000-01-01
195,536,True,None,4.0,-1.736726e+01,None,9.0,True,3.0,18.0,...,True,NaN,2.718282,18.0,NaN,0.0,NaN,1,True,2000-01-01
196,537,True,None,4.0,4.720909e+01,None,10.0,True,0.0,15.0,...,True,NaN,7.389056,15.0,NaN,0.0,NaN,4,True,2000-01-01
197,538,True,None,4.0,-5.187987e+01,None,11.0,True,-1.0,18.0,...,True,NaN,20.085537,18.0,NaN,0.0,NaN,1,True,2000-01-01
198,539,True,None,4.0,4.670774e+00,None,9.0,True,0.0,21.0,...,True,NaN,2.718282,21.0,NaN,0.0,NaN,2,True,2000-01-01
199,540,True,None,4.0,3.451261e+01,None,9.0,True,2.0,18.0,...,True,NaN,2.718282,18.0,NaN,0.0,NaN,4,True,2000-01-01

# Feature Tools
Below is the code for generating features using DFS from featuretools.

In [17]:
import featuretools as ft

### The input dataset:

In [39]:
taxi_data_df

,vendor_id,taxi_id,trip_id,distance,duration,fare,num_passengers,start_time,end_time,unique_entry_id
0,0,11,111,6.62,10.51,38.32,2,1999-12-13 15:02:04.057898,1999-12-13 15:12:34.657898,0
1,0,11,112,2.81,11.02,31.11,3,1999-05-29 23:56:16.015491,1999-05-30 00:07:17.215491,1
2,0,11,113,4.06,16.86,45.49,1,2000-05-01 23:37:46.946319,2000-05-01 23:54:38.546319,2
3,0,11,114,6.82,6.85,31.43,2,1999-10-23 04:36:39.851697,1999-10-23 04:43:30.851697,3
4,0,11,115,4.55,11.30,35.43,3,2000-03-27 16:55:30.144056,2000-03-27 17:06:48.144056,4
5,0,11,116,5.00,23.55,60.90,2,1999-01-19 00:24:34.284707,1999-01-19 00:48:07.284707,5
6,0,11,117,5.09,19.78,53.55,1,1999-04-01 03:41:41.557501,1999-04-01 04:01:28.357501,6
7,0,11,118,4.89,21.02,55.60,4,2000-02-21 09:08:56.976828,2000-02-21 09:29:58.176828,7
8,0,11,119,3.53,14.62,39.86,3,1999-11-26 19:21:54.927817,1999-11-26 19:36:32.127817,8
9,0,11,1110,4.37,3.19,18.82,2,1999-03-13 11:00:13.139864,1999-03-13 11:03:24.539864,9
10,0,11,1111,7.65,10.75,41.02,2,2000-03-01 10:35:02.856585,2000-03-01 10:45:47.856585,10
11,0,11,1112,7.28,15.45,49.62,3,1999-12-22 15:01:34.064611,1999-12-22 15:17:01.064611,11
12,0,11,1113,5.51,12.46,39.82,4,2000-09-20 09:30:33.382054,2000-09-20 09:43:00.982054,12
13,0,11,1114,4.16,12.14,36.27,2,2000-01-08 00:45:12.027102,2000-01-08 00:57:20.427102,13
14,0,11,1115,4.93,18.82,51.29,4,1999-06-26 10:12:11.497826,1999-06-26 10:31:00.697826,14
15,0,11,1116,3.91,10.95,33.35,3,2000-04-03 21:55:11.349087,2000-04-03 22:06:08.349087,15
16,0,11,1117,3.79,13.86,38.91,3,1999-08-11 12:51:22.946478,1999-08-11 13:05:14.546478,16
17,0,11,1118,4.17,18.37,48.75,3,2000-06-05 06:42:02.496736,2000-06-05 07:00:24.696736,17
18,0,11,1119,8.85,12.52,47.16,1,2000-10-31 02:34:49.142557,2000-10-31 02:47:20.342557,18
19,0,11,1120,4.88,16.34,46.22,4,2000-03-16 03:15:13.420225,2000-03-16 03:31:33.820225,19
20,0,11,1121,3.75,11.26,33.62,1,2000-08-15 16:29:34.849773,2000-08-15 16:40:50.449773,20
21,0,11,1122,5.82,28.38,72.33,2,2000-09-23 01:15:52.987804,2000-09-23 01:44:15.787804,21
22,0,11,1123,3.87,16.23,43.82,2,2000-10-06 07:05:53.055237,2000-10-06 07:22:06.855237,22
23,0,11,1124,1.82,12.09,31.11,3,1999-06-19 15:54:48.830332,1999-06-19 16:06:54.230332,23
24,0,11,1125,5.17,11.14,36.45,1,2000-10-19 17:28:20.907038,2000-10-19 17:39:29.307038,24
25,0,11,1126,4.25,17.32,46.82,4,1999-03-03 21:08:32.877944,1999-03-03 21:25:52.077944,25
26,0,11,1127,10.25,10.39,45.92,3,2000-05-07 17:24:05.697671,2000-05-07 17:34:29.097671,26
27,0,11,1128,4.34,13.86,40.09,2,1999-12-02 23:17:39.182606,1999-12-02 23:31:30.782606,27
28,0,11,1129,6.04,7.10,30.25,1,2000-11-08 21:47:10.685855,2000-11-08 21:54:16.685855,28
29,0,11,1130,5.43,14.37,43.47,3,1999-10-29 17:00:41.240839,1999-10-29 17:15:03.440839,29
...,...,...,...,...,...,...,...,...,...,...
7970,4,540,54011,7.03,15.24,48.66,4,1999-01-01 09:06:21.603662,1999-01-01 09:21:36.003662,7970
7971,4,540,54012,0.75,24.05,52.72,4,2000-08-09 23:41:54.473608,2000-08-10 00:05:57.473608,7971
7972,4,540,54013,6.62,8.13,33.56,2,2000-10-05 20:16:17.750064,2000-10-05 20:24:25.550064,7972
7973,4,540,54014,2.80,12.52,34.09,2,2000-12-28 05:32:09.819504,2000-12-28 05:44:41.019504,7973
7974,4,540,54015,3.19,22.21,54.31,4,2000-10-03 22:58:31.271353,2000-10-03 23:20:43.871353,7974
7975,4,540,54016,4.11,12.36,36.60,1,1999-02-12 14:53:42.772582,1999-02-12 15:06:04.372582,7975
7976,4,540,54017,5.67,15.62,46.49,2,2000-07-20 20:34:06.349387,2000-07-20 20:49:43.549387,7976
7977,4,540,54018,3.27,7.43,24.92,4,2000-09-01 19:06:18.945347,2000-09-01 19:13:44.745347,7977
7978,4,540,54019,4.93,15.29,44.23,4,1999-01-11 14:04:58.520392,1999-01-11 14:20:15.920392,7978
7979,4,540,54020,4.11,15.07,42.02,3,1999-09-26 10:08:44.095863,1999-09-26 10:23:48.295863,7979
7980,4,540,54021,4.43,16.61,45.79,3,2000-08-04 08:04:29.700870,2000-08-04 08:21:06.300870,7980
7981,4,540,54022,4.27,15.01,42.24,3,1999-04-02 23:53:59.614247,1999-04-03 00:09:00.214247,7981
7982,4,540,54023,9.39,17.42,58.12,3,1999-10-07 18:41:48.116943,1999-10-07 18:59:13.316943,7982
7983,4,540,54024,4.79,12.79,38.93,1,2000-04-06 03:59:39.520165,2000-04-06 04:12:26.920165,7983
7984,4,540,54025,9.71,23.58,71.13,4,1999-05-26 12:05:20.535933,1999-05-26 12:28:55.335933,7984
7985,4,540,54026,5.63,12.28,39.72,1,2000-05-09 19:40:10.075492,2000-05-09 19:52:26.875492,7985
7986,4,540,54027,6.65,8.47,34.30,1,1999-09-28 16:31:51.498321,1999-09-28 16:40:19.698321,7986
7987,4,540,54028,6.91,17.24,52.41,2,1999-06-01 03:12:43.911330,1999-06-01 03:29:58.311330,7987
7988,4,540,54029,4.71,27.14,67.45,2,2000-07-28 07:41:46.152941,2000-07-28 08:08:54.552941,7988
7989,4,540,54030,5.95,16.29,48.43,2,1999-08-03 17:28:02.960808,1999-08-03 17:44:20.360808,7989
7990,4,540,54031,3.50,7.54,25.64,3,2000-11-15 19:22:35.890969,2000-11-15 19:30:08.290969,7990
7991,4,540,54032,5.34,16.24,47.01,4,1999-06-16 12:13:24.476656,1999-06-16 12:29:38.876656,7991
7992,4,540,54033,5.73,13.66,42.70,1,2000-05-17 22:09:22.065288,2000-05-17 22:23:01.665288,7992
7993,4,540,54034,3.46,22.64,55.75,3,2000-02-19 01:27:28.806608,2000-02-19 01:50:07.206608,7993
7994,4,540,54035,6.66,16.71,50.81,1,2000-01-07 05:23:27.689840,2000-01-07 05:40:10.289840,7994
7995,4,540,54036,8.74,24.83,71.54,2,2000-06-26 12:59:22.617336,2000-06-26 13:24:12.417336,7995
7996,4,540,54037,9.51,7.00,37.54,1,1999-11-29 07:40:00.708262,1999-11-29 07:47:00.708262,7996
7997,4,540,54038,5.59,10.67,36.41,3,1999-04-14 07:38:45.368939,1999-04-14 07:49:25.568939,7997
7998,4,540,54039,4.14,21.45,54.84,3,1999-04-24 22:36:37.649585,1999-04-24 22:58:04.649585,7998
7999,4,540,54040,2.91,14.86,39.01,1,1999-10-08 21:26:24.155999,1999-10-08 21:41:15.755999,7999

#### Note
The code below is responsible for making two additional dataframes that are part of the integration with feature tools.

In [129]:
taxi_data_df_pre_cutoff_time = taxi_data_df[taxi_data_df['start_time'] < datetime_constant_cutoff]
taxi_data_df_post_cutoff_time = taxi_data_df[taxi_data_df['start_time'] >= datetime_constant_cutoff]

taxi_ids = taxi_data_df_pre_cutoff_time['taxi_id'].unique()
columns = ['taxi_id', 'vendor_id']
rows = []
for taxi_id in taxi_ids:
    vendor_id = int(str(taxi_id)[0]) - 1
    rows.append([taxi_id, vendor_id])

taxi_id_df = pd.DataFrame(rows, columns = columns)
vendor_id_df = pd.DataFrame(taxi_data_df_pre_cutoff_time['vendor_id'].unique(), columns = ['vendor_id'])

In [46]:
entities = {
    "taxis": (taxi_id_df, "taxi_id"),
    "vendors": (vendor_id_df, "vendor_id"),
    "trips": (taxi_data_df_pre_cutoff_time, "unique_entry_id")
}
relationships = [
    ("vendors", "vendor_id", "taxis", "taxi_id"),
    ("taxis", "taxi_id", "trips", "unique_entry_id")
]
feature_matrix, feature_definitions = ft.dfs(entities = entities,
      relationships = relationships,
      target_entity = "taxis")
feature_matrix_train = feature_matrix.fillna(0.0)

NameError: name 'taxi_id_df' is not defined

In [131]:
entities = {
    "taxis": (taxi_id_df, "taxi_id"),
    "vendors": (vendor_id_df, "vendor_id"),
    "trips": (taxi_data_df_post_cutoff_time, "unique_entry_id")
}
relationships = [
    ("vendors", "vendor_id", "taxis", "taxi_id"),
    ("taxis", "taxi_id", "trips", "unique_entry_id")
]
feature_matrix, feature_definitions = ft.dfs(entities = entities,
      relationships = relationships,
      target_entity = "trips")
feature_matrix_test = feature_matrix.fillna(0.0)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/featuretools/entityset/entity.py:262: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  df = self.df.loc[instance_vals]

In [138]:
features_by_entity_train = feature_matrix_train.groupby('taxi_id').mean()
features_by_entity_test = feature_matrix_test.groupby('taxi_id').mean()

# ATM
Below is the code for automatically tuning the model.

# Model
Below is the code for training the model.

In [110]:
import numpy as np
import matplotlib.pyplot as plt

from sklearn import linear_model, decomposition, datasets
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

In [111]:
logistic = linear_model.LogisticRegression()

In [166]:
X_training = features_by_entity_train
Y_training_problems = []
for i in range(1, NUM_PROBLEMS_TO_GENERATE + 1):
    Y_training_problem = labels_train['Problem ' + str(i)]
    Y_training_problems.append(Y_training_problem)

#### Note
Most of the problems labels are not fittable because no two labels differ. In other words, the labels are all the same because the prediction problems are too mundane.

In [167]:
for i in range(NUM_PROBLEMS_TO_GENERATE):
    Y_training = Y_training_problems[i]
    try:
        logistic.fit(X_training, Y_training)
        break
    except:
        print("Problem {} not fittable".format(i))
        continue

Problem 0 not fittable
Problem 1 not fittable
Problem 2 not fittable
Problem 3 not fittable
Problem 4 not fittable
Problem 5 not fittable
Problem 6 not fittable
Problem 7 not fittable
Problem 8 not fittable
Problem 9 not fittable
Problem 10 not fittable
Problem 11 not fittable
Problem 12 not fittable
Problem 13 not fittable
Problem 14 not fittable
Problem 15 not fittable
Problem 16 not fittable
Problem 17 not fittable
Problem 18 not fittable
Problem 19 not fittable
Problem 20 not fittable
Problem 21 not fittable
Problem 22 not fittable
Problem 23 not fittable
Problem 24 not fittable
Problem 25 not fittable
Problem 26 not fittable
Problem 27 not fittable
Problem 28 not fittable
Problem 29 not fittable
Problem 30 not fittable
Problem 31 not fittable
Problem 32 not fittable
Problem 33 not fittable
Problem 34 not fittable
Problem 35 not fittable
Problem 36 not fittable
Problem 37 not fittable
Problem 38 not fittable
Problem 39 not fittable
Problem 40 not fittable
Problem 41 not fittable
Problem 42 not fittable
Problem 43 not fittable
Problem 44 not fittable
Problem 45 not fittable
Problem 46 not fittable
Problem 47 not fittable
Problem 48 not fittable
Problem 49 not fittable
Problem 50 not fittable
Problem 51 not fittable
Problem 52 not fittable
Problem 53 not fittable
Problem 54 not fittable
Problem 55 not fittable
Problem 56 not fittable
Problem 57 not fittable
Problem 58 not fittable
Problem 59 not fittable
Problem 60 not fittable
Problem 61 not fittable
Problem 62 not fittable
Problem 63 not fittable
Problem 64 not fittable
Problem 65 not fittable
Problem 66 not fittable
Problem 67 not fittable
Problem 68 not fittable
Problem 69 not fittable
Problem 70 not fittable
Problem 71 not fittable
Problem 72 not fittable
Problem 73 not fittable
Problem 74 not fittable
Problem 75 not fittable
Problem 76 not fittable
Problem 77 not fittable
Problem 78 not fittable
Problem 79 not fittable
Problem 80 not fittable
Problem 81 not fittable
Problem 82 not fittable
Problem 83 not fittable
Problem 84 not fittable
Problem 85 not fittable
Problem 86 not fittable
Problem 87 not fittable
Problem 88 not fittable
Problem 89 not fittable
Problem 90 not fittable
Problem 91 not fittable
Problem 92 not fittable
Problem 93 not fittable
Problem 94 not fittable
Problem 95 not fittable
Problem 96 not fittable
Problem 97 not fittable
Problem 98 not fittable
Problem 99 not fittable

In [ ]:
X_test = features_by_entity_test
Y_test_problems = []
for i in range(1, 11):
    Y_test_problem = labels_test['Problem ' + str(i)]
    Y_test_problems.append(Y_test_problem)